$family: 'Montserrat', sans-serif;

$bold: 700;
$normal: 600;
$light: 400;

$font-14: 14px;
$font-16: 16px;
$font-24: 24px;
$font-28: 28px;
$font-32: 32px;

$red: #E31F24;
$black: #333333;
$white: #FFF;
$background: #FDFDFD;
$darkBackground: #E0E0E0;
$borderColor: #E9ECEF;
$lightGrey: #76787D;

$box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);