@import '../../../src/styles/vars.scss';

@mixin font($weight, $size, $color) {
  font-weight: $weight;
  font-size: $size;
  font-family: $family;
  color: $color;
}

.container {
  padding: 0 50px 50px ;

  .content {
    display: flex;
    margin: 0 auto;

    max-width: 1266px;
    min-height: 575px;

    border-radius: 10px;
    background: $background;
    box-shadow: $box-shadow;
  }
}