@import '../../../src/styles/vars.scss';

.container {

  padding: 0 50px 50px ;

  .content {
    display: flex;
    max-width: 1266px;
    height: 575px;
    flex-shrink: 0;
    border-radius: 10px;
    background: $background;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
  }
}