@import '../../../src/styles/vars.scss';

@mixin font($weight, $size, $color) {
  font-weight: $weight;
  font-size: $size;
  font-family: $family;
  color: $color;
}

.container {
  text-align: center;
  padding: 0 50px;

  .message {
    padding: 50px;
    @include font($light, $font-32, $black);
  }
}